.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  gap: 2rem;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.albumArt {
  height: 40vmin;
  pointer-events: none;
}

.defaultAlbumArt {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .defaultAlbumArt {
    animation: custom-rotate-animation infinite 5s linear;
  }
}

@keyframes custom-rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  color: #61dafb;
  text-decoration: underline;
}