.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  gap: 2rem;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

/* .albumArtDiv {
  position: relative;
} */

/* logo.svg viewBox is a rectangle with an atom in the middle */
/* Will have to move image to the side by a magic number of pixels */
.albumArtPlaceholder {
  height: 256px;
  pointer-events: none;
  /* background-color: orange; */
  /* position: absolute;
  right: -53px; */
}

.albumArt {
  height: 256px;
  pointer-events: none;
  /* opacity: 0.7; */
}

@media (prefers-reduced-motion: no-preference) {
  .albumArtPlaceholder {
    animation: custom-rotate-animation infinite 5s linear;
  }
}

@keyframes custom-rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  color: #61dafb;
  text-decoration: underline;
}

.playHint {
  font-size: 12px;
}

/* .radioGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
} */